= label :ticket, :name, 'Name'
= text_field :ticket, :name

= label :ticket, :email, 'E-mail'
= text_field :ticket, :email

= label :ticket, :subject , 'Subject'
= text_field :ticket, :subject

= label :ticket, :department, 'Department'
= f.select :department, :department_id, options_for_select(Department.all.map{|a| [a.department_name, a.id]})

= label :ticket, :body, 'Question'
= text_field :ticket, :body
